@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    color: hsl(243, 87%, 12%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

a {
    color: #3da08f;
}

img {
    max-width: 100%;
}

h1,
h2,
h4 {
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

.flex>div,
.flex>ul {
    flex: 1;
}

.flex>div:first-child {
    margin-right: 20px;
}

.flex>div:last-child {
    margin-left: 20px;
}

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
}

/* form */
form {
    display: flex;
}

input {
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    flex: 0.7;
    padding: 15px;
}

input::placeholder {
    color: hsl(0, 0%, 75%);
}

button {
    background: #3065F8;
    border: 1px solid #3065F8;
    border-radius: 2px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    color: #fff;
    flex: 0.3;
    font-weight: bold;
    padding: 15px;
    margin-left: 10px;
}

/* section-one */
.section-one {
    background: #F6F6FE;
    margin-top: 100px;
    position: relative;
    padding: 50px 0;
}

.section-one::before {
    content: "";
    background-image: url(img/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 60px;
    width: 100%;
    top: -60px;
    left: 0;
}

/* user-text */
.user-text {
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 25px;
    margin-top: 40px;
    width: 80%;
}

.user-text p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.user-info {
    display: flex;
    margin-top: 20px;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.user-info h4 {
    font-weight: 700;
}

/* section-two */
.section-two {
    background: #585989;
    color: #fff;
    padding: 50px 0;
}

.section-two form {
    flex-direction: column;
}

.section-two form input {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    flex: 1;
}

.section-two form button {
    margin: 20px 0;
    width: 50%;
}

/* footer */
footer {
    background: #070439;
    color: #fff;
    padding: 50px;
}

footer ul {
    margin-right: 80px;
}

footer ul li {
    margin-bottom: 20px;

}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .circle {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .section-one::before {
        background-image: url(img/bg-curve-mobile.svg);
        height: 80px;
    }

    .flex {
        flex-direction: column;
    }

    .flex>div {
        width: 100%;
    }

    .flex>div:first-child {
        margin-right: 0;
    }

    .flex>div:last-child {
        margin-left: 0;
    }

    .user-text {
        width: 100%;
    }

    .section-two form input {
        flex: 1;
    }

    .section-two form button {
        margin: 20px 0;
        width: 100%;
    }

    .illustration {
        margin-top: 30px;
    }

    .user-info {
        justify-content: center;
    }

    footer ul {
        width: 100%;
    }

}